html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 61%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 60%; } }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.header {
  width: 100vw;
  height: 35vh;
  background-image: url(../images/pattern-bg.png);
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 48vh; } }

.app {
  width: 60vw;
  text-align: center;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .app {
      width: 75vw;
      margin: 4rem auto; } }
  .app__name {
    color: #fff;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 2.5rem; }
  .app__input {
    width: 43%;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4.5rem; }
    @media only screen and (max-width: 37.5em) {
      .app__input {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 2.5rem; } }
    .app__input--ip {
      flex: 1;
      background-color: #fff;
      padding: 1.75rem;
      border: none;
      outline: none;
      font-family: inherit;
      font-size: 1.5rem;
      cursor: pointer; }
      .app__input--ip::-webkit-input-placeholder {
        font-family: 'Rubik', sans-serif;
        color: #969696;
        font-size: 1.5rem;
        line-height: 1; }
        @media only screen and (max-width: 37.5em) {
          .app__input--ip::-webkit-input-placeholder {
            font-size: 1.25rem; } }
    .app__input .btn {
      padding: 1.5rem;
      border: none;
      outline: none;
      background-color: #000; }
      .app__input .btn:hover {
        cursor: pointer;
        background-color: #2b2b2b; }

.user__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  padding: 3rem 0;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .user__info {
      flex-direction: column;
      padding: 2rem 0; } }
  .user__info-box:not(:first-child) {
    border-left: 2px solid #969696; }
    @media only screen and (max-width: 37.5em) {
      .user__info-box:not(:first-child) {
        border-left: none;
        margin-top: 2rem; } }
  .user__info-box {
    text-align: left;
    overflow-wrap: normal;
    padding: 0 3rem;
    flex: 1; }
    @media only screen and (max-width: 37.5em) {
      .user__info-box {
        text-align: center;
        padding: 0 2rem; } }
  .user__info--name {
    text-transform: uppercase;
    font-size: 1rem;
    color: #969696;
    margin-bottom: 1rem; }
  .user__info--value {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2b2b2b; }
    @media only screen and (max-width: 37.5em) {
      .user__info--value {
        font-size: 2rem; } }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

#map {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  height: 65vh;
  width: 100vw;
  z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    #map {
      height: 52vh; } }

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 500;
  text-align: center; }
  .modal .o {
    width: 5%;
    display: block;
    position: absolute;
    top: 35%;
    left: 47%;
    transform: translate(-50%, -50%);
    animation: rotate 2s infinite linear;
    animation-play-state: paused; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
